/*geral*/
html{
    font-family: 'Open sans', 'sans-serif';
    color: #373A3C;
}
a{
    transition: .5s;
}

/*SideBar*/
#sidebar{
    position:fixed;
    height: 100%;
    width: 300px;
    background-color: #278ec2;
    padding-top: 40px;
}
#sidebar h1{
    color: #FFF;
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#sidebar a{
    color:#FFF;
    text-decoration: none;
    font-size: 16px;
}
#sidebar a:hover{
    color:rgb(247, 250, 53);
}

#sidebar li{
    padding:20px;
}

.sidebar-container{
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.logo-doceria{
    display: block;
    width: 70px;
    height: 70px;
    position:relative;
    margin-left: auto;
    margin-right: auto;
}